@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,400..700&display=swap');

body {
    background-image: linear-gradient(to right bottom, #151718, #232627, #323537, #414648, #515759, #5e6567, #6b7375, #788183, #858f90, #929e9e, #a0acab, #aebbb9);
    font-family: "Lora", serif;
    color: white;
    font-size: larger;
    
}

.title {
    text-align: center;
    border: strong darkblue 5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-style: normal;
}

/* .nav {
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
    border: 1px solid white;
    border-radius: 5px;
    height: 30px;
    padding: 10px;
} */

.nav ul {
    
    padding: 0 10px;
    height: 100%;
    line-height: 0px;
    list-style: none;
    text-align: center;
    flex: 1;
}

.nav ul li {
    display: inline-block;
    text-decoration: none;
    width: 20%;
    vertical-align: 10px;
}

a {
    color: white;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
}

.nav a:hover {
    background-image: linear-gradient(to right top, #e1a10f, #e4a72b, #e6ae3e, #e9b44f, #ebba5f);
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.property-images {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.top-images,
.bottom-images {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.top-images img {
    width: 50%;
}

.bottom-images img {
    width: 30%;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.image {
    margin: 0 auto;
    width: 50%;
}

main {
    width: 70%;
    margin: 0 auto;
}

footer {
    text-align: center;
    margin: 20px;
    padding: 1rem;
}

#booking {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 34%;
}

#booking input {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    width: 30%;
}

#booking button {
    border: 1px solid white;
    border-radius: 5px;
    background-color: darkgray;
    color: white;
    width: 30%;
    font-size: large;
    position: relative;
    left: 10px;
}

#contact {
    text-align: center;
}

.attractions {
    display: flex;
    align-items: center;
    padding: 20px;
}

.image img {
    max-width: 100%;
    height: auto;
    margin-right: 20px;
}

.attractions-info {
    flex: 1;
    margin-left: 20px;
}

.theatre {
    border: 1px solid white;
    border-radius: 5px;
    background-color: black;
    font-size: large;
    height: 30px;
    padding: 5px;
    position: relative;
    left: 40%;
}

button:hover {
    background-image: linear-gradient(to right top, #e1a10f, #e4a72b, #e6ae3e, #e9b44f, #ebba5f);
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.recommendations {
    text-align: center;
}

iframe {
    width: 100%;
    max-width: 1200px;
    aspect-ratio: 16/9;
}

@media screen and (max-width: 1200px) {
    
    .nav ul {
        display: flex;
    }
    .nav li {
        font-size: 0.9em;
        flex: 1;
    }

    .top-images,
    .bottom-images {
        flex-direction: column;
        align-items: center;
    }

    .top-images img,
    .bottom-images img {
        width: 100%;
    }

    h1, h3, p {
        font-size: 0.9em;
    }

    .attractions {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .image {
        width: 50vw;
    }

    .theatre {
        font-size: 0.6em;
        height: 20px;
        padding: 4px;
        position: relative;
        left: 38%;
    }

    #booking {
        left: 50px;
        width: 90%;
        padding: 0 5px; 
    }

    #booking input {
        width: 90%;
        left: 50px; 
    }

    #booking button {
        width: 90%;
        left: 10px;
    }

}

@media screen and (max-width: 768px) {

    .nav ul {
        display: flex;
        gap: 10px;
    }
    .nav li {
        font-size: 0.6em;
        flex: 1;
    }

    .top-images,
    .bottom-images {
        flex-direction: column;
        align-items: center;
    }

    .top-images img,
    .bottom-images img {
        width: 100%;
    }

    h1, h3, p {
        font-size: 0.75em;
    }

    .attractions {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .image {
        width: 50vw;
    }

    .theatre {
        font-size: 0.4em;
        height: 20px;
        padding: 4px;
        position: relative;
        left: 38%;
    }

    #booking {
        left: 20px;
        width: 90%;
        padding: 0 5px; 
    }

    #booking input {
        width: 90%;
        left: 20px; 
    }

    #booking button {
        width: 90%;
        left: 10px;
    }

    #booking label {
        font-size: 0.75em;
    }
}

@media screen and (max-width: 320px) {
    .nav ul {
        display: flex;
        gap: 10px;
    }
    .nav li {
        font-size: 0.5em;
        flex: 1;
    }

    .top-images,
    .bottom-images {
        flex-direction: column;
        align-items: center;
    }

    .top-images img,
    .bottom-images img {
        width: 100%;
    }

    h1, h3, p {
        font-size: 0.5em;
    }

    .attractions {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .image {
        width: 50vw;
    }

    .theatre {
        font-size: 0.3em;
        height: 20px;
        padding: 4px;
        position: relative;
        left: 30%;
    }

    #booking {
        left: 0;
        width: 90%;
        padding: 0 5px; 
    }

    #booking input {
        width: 90%;
        left: 0; 
    }

    #booking button {
        width: 90%;
        left: 10px;
    }

    #booking label {
        font-size: 0.5em;
    }
    
    }