@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,400..700&display=swap');

body {
    background-image: linear-gradient(to right bottom, #151718, #232627, #323537, #414648, #515759, #5e6567, #6b7375, #788183, #858f90, #929e9e, #a0acab, #aebbb9);
    font-family: "Lora", serif;
    color: white;
    font-size: larger;
    
}

.title {
    text-align: center;
    border: strong darkblue 5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.nav {
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
    border: 1px solid white;
    border-radius: 5px;
    height: 30px;
    padding: 10px;
}

.nav ul {
    color: darkgray;
    padding: 0 10px;
    height: 100%;
    line-height: 0px;
    list-style: none;
    text-align: center;
    flex: 1;
}

.nav ul li {
    display: inline-block;
    text-decoration: none;
    width: 20%;
    vertical-align: 10px;
}

.property-images {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.top-images,
.bottom-images {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.top-images img {
    width: 50%;
}

.bottom-images img {
    width: 30%;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.image {
    margin: 0 auto;
    width: 50%;
}

.image img {
    width: 100%;
}


main {
    width: 70%;
    margin: 0 auto;
}

footer {
    text-align: center;
    margin: 20px;
    padding: 1rem;
}

#booking {
    display: flex;
    flex-direction: column;
}

#booking input {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

#contact {
    text-align: center;
}